:root,
textarea {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  height: 100vh;
  background-color: #e6e6e6;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
